.modalContainer {
  position: fixed;
  z-index: 999; // Footer 보다 우선순위가 높음
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Happy Bolder", sans-serif;
}

.modal {
  background-color: #fbf1f1;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  //box-shadow: #ef455a;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  //background-color: white;
  font-family: "Happy Bolder", sans-serif;
}

.containerDesktop {
  width: 80px;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-right: 10px;
  border: 1px solid lightgray;
  font-family: "Happy Bolder", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Happy Bolder", sans-serif;
}

.Calender {
  display: flex;
  justify-content: center;
  font-family: "Happy", sans-serif;
}

.submitButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: white;
  font-family: "Happy Bolder", sans-serif;
}

.contentContainer {
  display: flex;
  align-items: stretch; /* This will ensure the textContent and the image have the same height */
  margin-bottom: 30px;
  font-family: "Happy Bolder", sans-serif;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  font-family: "Happy Bolder", sans-serif;
}

.title {
  width: 200px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  font-family: "Happy Bolder", sans-serif;
}

.realcontent {
  margin-left: 10px;
  font-family: "Happy Bold", sans-serif;
}
.departDate {
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  font-family: "Happy Bolder", sans-serif;
}
.createdBy {
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  font-family: "Happy Bolder", sans-serif;
}

.depart {
  font-family: "Happy Bolder", sans-serif;
}

.fieldset {
  width: 350px;
  height: 200px;
  margin-top: 20px;
  border-radius: 15px;
  margin-right: 10px;
  font-family: "Happy Bolder", sans-serif;
}

.sendMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  background-color: #ef455a;
  border-radius: 20px;
  //border: 1px solid white;
  box-shadow: #fbf1f1;
  color: white;
  font-family: "Happy Bold", sans-serif;
  opacity: 0.98;
  font-size: 17px;
}

.textcontent1 {
  margin-left: 10px;
}

.updateButton {
  width: 30px;
  padding: 2px;
  margin-left: 5px;
  background-color: lightgray;
  border: 10px;
  border-radius: 5px;
  color: black;
  font-family: "Happy Bolder", sans-serif;
}

.editTitle {
  width: 300px;
  height: 20px;
  font-family: "Happy Bold", sans-serif;
  margin-left: 20px;
}

.editContent {
  width: 300px;
  height: 200px;
  font-family: "Happy Bold", sans-serif;
  margin-left: 20px;
}
