.ChatListDesktop {
  width: 500px;
  height: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.ChatListMobile {
  width: 380px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileDesktop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 15px;
}

.h2 {
  font-family: "Happy Bold";
  margin-top: 30px;
  margin-left: 30px;
}

.profileMobile {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 400px;
}

.unreadCount {
  position: absolute; // 메시지 카운트를 원하는 위치에 고정하기 위해 사용
  right: 10px; // receiver로부터 오른쪽으로 얼마나 떨어져 있는지 지정
  top: 20px; // receiver로부터 위로 얼마나 떨어져 있는지 지정
  // 다른 CSS 스타일 속성을 원하는대로 추가/조정하세요.
}
