.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-family: "Happy", sans-serif;
}
.title {
  font-family: "Happy", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ef455a;
  //border: 1px solid #f5b9c0;

  margin-right: 10px;
  border-radius: 50%; /* 동그란 모양으로 바꾸기 */
  background-color: white; /* 배경색 추가 */
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.option input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option input[type="checkbox"]:checked + .checkmark::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ef455a; /* 체크 색상 추가 */
}

.option span:last-child {
  font-size: 19px;
  font-weight: 600;
  font-family: "Happy", sans-serif;
}
