.LoadingScreen {
  max-width: 550px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  background-color: #ef455a;
  text-align: center;
}

.h3Design {
  margin: 200px auto;
  padding-top: 100px;
}

.h3 {
  font-size: 50px;
  color: #ffffff;
}

.h2 {
  font-size: 20px;
  color: #ffffff;
}
