/* Umanda 글자 디자인 */
.desktopUmanda {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 70px;
  max-width: 550px;
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.mobileUmanda {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 80px;
  max-width: 550px;
  display: flex;
  margin: 0 auto;
}

/* 홈 글자 디자인 */
.home {
  color: white;
  margin-right: 30px;
  margin-bottom: 60px;
}

/* Q & A 글자 디자인 */

.QnA {
  color: white;
  margin-right: 40px;
  margin-bottom: 60px;
}

/* header 가로 설정 */
.headerColumn {
  background: #ef455a 0% 0% no-repeat padding-box;
  display: flex; /* Flex Container로 설정 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 130px;
}
